In [1]:
pip install scipy

Requirement already satisfied: scipy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.13.0)
Requirement already satisfied: numpy<2.3,>=1.22.4 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from scipy) (1.26.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

<h1> Data Analysis Project</h1>
<h2> United Kingdom </h2>
<h3> Inclusive years: 2019-2022</h3>
<h4> Analyst: Irish Valerie Martinez</h4>

<h2> Data Preparation</h2>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import f_oneway
import warnings
warnings.filterwarnings ('ignore')

<h1>Importing Libraries</h1>

In [3]:
accident = pd.read_csv('accident_data.csv')

In [4]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [5]:
accident['Accident_Severity'] = accident['Accident_Severity'] = accident['Accident_Severity'].astype('category')

In [6]:
accident['Accident_Severity'].value_counts()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

In [7]:
accident.dtypes

Index                        object
Accident_Severity          category
Accident Date                object
Latitude                    float64
Light_Conditions             object
District Area                object
Longitude                   float64
Number_of_Casualties          int64
Number_of_Vehicles            int64
Road_Surface_Conditions      object
Road_Type                    object
Urban_or_Rural_Area          object
Weather_Conditions           object
Vehicle_Type                 object
dtype: object

<h3>Data Cleansing</h3>

In [8]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [9]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mode()[0])
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mode()[0])
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna('unknown surface conditions')
accident['Road_Type'] = accident['Road_Type'].fillna('unaccounted')
accident['Weather_Conditions'] = accident['Weather_Conditions'].fillna('unaccounted weather conditions')
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].fillna(accident['Urban_or_Rural_Area'].mode()[0])

In [10]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

In [11]:
accident['Accident Date'] = accident['Accident Date'].str.strip()
accident['Accident Date'] = accident['Accident Date'].str.replace('/', '-')

<h1> Converting object data type to date time date types</h1>

In [12]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = 'coerce')

In [13]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

In [14]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = 'coerce')

<h1> Adjusting Data Types</h1>

In [15]:
accident.dtypes

Index                              object
Accident_Severity                category
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                   object
District Area                      object
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions            object
Road_Type                          object
Urban_or_Rural_Area                object
Weather_Conditions                 object
Vehicle_Type                       object
dtype: object

<h1> Extracting Date info unsing pandas date time</h1>

In [16]:
accident['Year'] = accident['Accident Date'].dt.year
accident['Month'] = accident['Accident Date'].dt.month
accident['Day'] = accident['Accident Date'].dt.day
accident['DayOfWeek'] = accident['Accident Date'].dt.dayofweek

In [17]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
Year                       0
Month                      0
Day                        0
DayOfWeek                  0
dtype: int64

<h2> Data ANalytics</h2>
<h4> Analyzing each Field from Data Set</h4>
<h3> Univariate</h3>

In [18]:
df_2019 = accident[accident['Year'] == 2019]

<h2> Univariate Analysis from 2019</h2>
<h3> How many incidents happened under light conditions</h3>

<h1> Insight 1: Daylight Constitute to 132% of the total accident from year 2019</h1>

In [19]:
df_2019['Light_Conditions'].value_counts().sum()

182115

<h1> Insight 2: Latitude and LOnigtude has no correlation when it come to road accidents <h1>

In [20]:
latg = accident['Latitude'].corr(accident['Longitude'])
latg

-0.3981137948101014

<h1> Insight 3: The vehicle accidents is related to the frequency of the number of casualties.</h1>

In [21]:
rsclc = accident['Number_of_Casualties'].corr(accident['Number_of_Vehicles'])
rsclc

0.2288888612692756

In [22]:
rsclc = np.round(accident.groupby(['District Area','Urban_or_Rural_Area'])['Number_of_Casualties'].mean(),1)
rsclc.unstack()

Urban_or_Rural_Area  Rural  Unallocated  Urban
District Area
Aberdeen City          1.2          NaN    1.1
Aberdeenshire          1.3          NaN    1.1
Adur                   1.5          NaN    1.3
Allerdale              1.5          NaN    1.3
Alnwick                1.5          NaN    NaN
...                    ...          ...    ...
Wychavon               1.5          NaN    1.2
Wycombe                1.5          NaN    1.3
Wyre                   1.5          NaN    1.3
Wyre Forest            1.5          NaN    1.3
York                   1.5          NaN    1.2

[422 rows x 3 columns]

In [59]:
rsclc = np.round(accident.groupby(['District Area','Urban_or_Rural_Area'])['Number_of_Vehicles'].mean(),1)
rsclc.unstack()

Urban_or_Rural_Area  Rural  Unallocated  Urban
District Area
Aberdeen City          1.7          NaN    1.6
Aberdeenshire          1.6          NaN    1.6
Adur                   2.0          NaN    1.9
Allerdale              1.8          NaN    1.8
Alnwick                1.6          NaN    NaN
...                    ...          ...    ...
Wychavon               1.8          NaN    1.8
Wycombe                1.9          NaN    1.9
Wyre                   1.9          NaN    1.9
Wyre Forest            1.8          NaN    1.8
York                   2.0          NaN    1.8

[422 rows x 3 columns]

<h1> Insight 4: Most Accidents that happened all throughtout 2019 to 2022 is in Aberdeenshire in Rural Area</h1>

In [24]:
surface = accident.groupby(['District Area','Urban_or_Rural_Area']).count()
surface

                                   Index  Accident_Severity  Accident Date  \
District Area Urban_or_Rural_Area
Aberdeen City Rural                  207                207            207
              Urban                 1116               1116           1116
Aberdeenshire Rural                 1781               1781           1781
              Urban                  149                149            149
Adur          Rural                  197                197            197
...                                  ...                ...            ...
Wyre          Urban                  758                758            758
Wyre Forest   Rural                  419                419            419
              Urban                  550                550            550
York          Rural                  706                706            706
              Urban                 1191               1191           1191

                                   Latitude  Light_Conditions  Longitude  \
District Area Urban_or_Rural_Area
Aberdeen City Rural                     207               207        207
              Urban                    1116              1116       1116
Aberdeenshire Rural                    1781              1781       1781
              Urban                     149               149        149
Adur          Rural                     197               197        197
...                                     ...               ...        ...
Wyre          Urban                     758               758        758
Wyre Forest   Rural                     419               419        419
              Urban                     550               550        550
York          Rural                     706               706        706
              Urban                    1191              1191       1191

                                   Number_of_Casualties  Number_of_Vehicles  \
District Area Urban_or_Rural_Area
Aberdeen City Rural                                 207                 207
              Urban                                1116                1116
Aberdeenshire Rural                                1781                1781
              Urban                                 149                 149
Adur          Rural                                 197                 197
...                                                 ...                 ...
Wyre          Urban                                 758                 758
Wyre Forest   Rural                                 419                 419
              Urban                                 550                 550
York          Rural                                 706                 706
              Urban                                1191                1191

                                   Road_Surface_Conditions  Road_Type  \
District Area Urban_or_Rural_Area
Aberdeen City Rural                                    207        207
              Urban                                   1116       1116
Aberdeenshire Rural                                   1781       1781
              Urban                                    149        149
Adur          Rural                                    197        197
...                                                    ...        ...
Wyre          Urban                                    758        758
Wyre Forest   Rural                                    419        419
              Urban                                    550        550
York          Rural                                    706        706
              Urban                                   1191       1191

                                   Weather_Conditions  Vehicle_Type  Year  \
District Area Urban_or_Rural_Area
Aberdeen City Rural                               207           207   207
              Urban                              1116          1116  1116
Aberdeenshire Rural                              1781          1781  1781
              Urban                               149           149   149
Adur          Rural                               197           197   197
...                                               ...           ...   ...
Wyre          Urban                               758           758   758
Wyre Forest   Rural                               419           419   419
              Urban                               550           550   550
York          Rural                               706           706   706
              Urban                              1191          1191  1191

                                   Month   Day  DayOfWeek
District Area Urban_or_Rural_Area
Aberdeen City Rural                  207   207        207
              Urban                 1116  1116       1116
Aberdeenshire Rural                 1781  1781       1781
              Urban                  149   149        149
Adur          Rural                  197   197        197
...                                  ...   ...        ...
Wyre          Urban                  758   758        758
Wyre Forest   Rural                  419   419        419
              Urban                  550   550        550
York          Rural                  706   706        706
              Urban                 1191  1191       1191

[824 rows x 16 columns]

<h1> Insight 5: The number of casualties has been decreasing each year, considering the severity of the fatalities caused by accidents.</h1>

In [25]:
casualties_per_year = accident[accident['Accident_Severity'] == 'Fatal'].groupby('Year').size()
casualties_per_year

Year
2019    2714
2020    2341
2021    2057
2022    1549
dtype: int64

<h1> Insight 6: Single carriageway is the most prone to accident when it comes to Road types</h1>

In [26]:
casualties_road_types = accident[accident['Accident_Severity'] == 'Fatal']['Road_Type'].value_counts()
casualties_road_types

Road_Type
Single carriageway    6527
Dual carriageway      1815
Roundabout             142
One way street          95
Slip road               49
unaccounted             33
Name: count, dtype: int64

<h1> Insight 7: The most accidents that happened all throughout 2019 to 2022 is in Single Carriageway with half a million Slight Accident Severity </h1>

In [62]:
accident_road = accident.groupby(['Road_Type','Accident_Severity']).count()
accident_road

                                       Index  Accident Date  Latitude  \
Road_Type          Accident_Severity
Dual carriageway   Fatal                1815           1815      1815
                   Serious             11746          11746     11746
                   Slight              85863          85863     85863
One way street     Fatal                  95             95        95
                   Serious              1655           1655      1655
                   Slight              11809          11809     11809
Roundabout         Fatal                 142            142       142
                   Serious              3665           3665      3665
                   Slight              40185          40185     40185
Single carriageway Fatal                6527           6527      6527
                   Serious             70059          70059     70059
                   Slight             415557         415557    415557
Slip road          Fatal                  49             49        49
                   Serious               611            611       611
                   Slight               6381           6381      6381
unaccounted        Fatal                  33             33        33
                   Serious               481            481       481
                   Slight               4006           4006      4006

                                      Light_Conditions  District Area  \
Road_Type          Accident_Severity
Dual carriageway   Fatal                          1815           1815
                   Serious                       11746          11746
                   Slight                        85863          85863
One way street     Fatal                            95             95
                   Serious                        1655           1655
                   Slight                        11809          11809
Roundabout         Fatal                           142            142
                   Serious                        3665           3665
                   Slight                        40185          40185
Single carriageway Fatal                          6527           6527
                   Serious                       70059          70059
                   Slight                       415557         415557
Slip road          Fatal                            49             49
                   Serious                         611            611
                   Slight                         6381           6381
unaccounted        Fatal                            33             33
                   Serious                         481            481
                   Slight                         4006           4006

                                      Longitude  Number_of_Casualties  \
Road_Type          Accident_Severity
Dual carriageway   Fatal                   1815                  1815
                   Serious                11746                 11746
                   Slight                 85863                 85863
One way street     Fatal                     95                    95
                   Serious                 1655                  1655
                   Slight                 11809                 11809
Roundabout         Fatal                    142                   142
                   Serious                 3665                  3665
                   Slight                 40185                 40185
Single carriageway Fatal                   6527                  6527
                   Serious                70059                 70059
                   Slight                415557                415557
Slip road          Fatal                     49                    49
                   Serious                  611                   611
                   Slight                  6381                  6381
unaccounted        Fatal                     33                    33
                   Serious                  481                   481
                   Slight                  4006                  4006

                                      Number_of_Vehicles  \
Road_Type          Accident_Severity
Dual carriageway   Fatal                            1815
                   Serious                         11746
                   Slight                          85863
One way street     Fatal                              95
                   Serious                          1655
                   Slight                          11809
Roundabout         Fatal                             142
                   Serious                          3665
                   Slight                          40185
Single carriageway Fatal                            6527
                   Serious                         70059
                   Slight                         415557
Slip road          Fatal                              49
                   Serious                           611
                   Slight                           6381
unaccounted        Fatal                              33
                   Serious                           481
                   Slight                           4006

                                      Road_Surface_Conditions  \
Road_Type          Accident_Severity
Dual carriageway   Fatal                                 1815
                   Serious                              11746
                   Slight                               85863
One way street     Fatal                                   95
                   Serious                               1655
                   Slight                               11809
Roundabout         Fatal                                  142
                   Serious                               3665
                   Slight                               40185
Single carriageway Fatal                                 6527
                   Serious                              70059
                   Slight                              415557
Slip road          Fatal                                   49
                   Serious                                611
                   Slight                                6381
unaccounted        Fatal                                   33
                   Serious                                481
                   Slight                                4006

                                      Urban_or_Rural_Area  Weather_Conditions  \
Road_Type          Accident_Severity
Dual carriageway   Fatal                             1815                1815
                   Serious                          11746               11746
                   Slight                           85863               85863
One way street     Fatal                               95                  95
                   Serious                           1655                1655
                   Slight                           11809               11809
Roundabout         Fatal                              142                 142
                   Serious                           3665                3665
                   Slight                           40185               40185
Single carriageway Fatal                             6527                6527
                   Serious                          70059               70059
                   Slight                          415557              415557
Slip road          Fatal                               49                  49
                   Serious                            611                 611
                   Slight                            6381                6381
unaccounted        Fatal                               33                  33
                   Serious                            481                 481
                   Slight                            4006                4006

                                      Vehicle_Type    Year   Month     Day  \
Road_Type          Accident_Severity
Dual carriageway   Fatal                      1815    1815    1815    1815
                   Serious                   11746   11746   11746   11746
                   Slight                    85863   85863   85863   85863
One way street     Fatal                        95      95      95      95
                   Serious                    1655    1655    1655    1655
                   Slight                    11809   11809   11809   11809
Roundabout         Fatal                       142     142     142     142
                   Serious                    3665    3665    3665    3665
                   Slight                    40185   40185   40185   40185
Single carriageway Fatal                      6527    6527    6527    6527
                   Serious                   70059   70059   70059   70059
                   Slight                   415557  415557  415557  415557
Slip road          Fatal                        49      49      49      49
                   Serious                     611     611     611     611
                   Slight                     6381    6381    6381    6381
unaccounted        Fatal                        33      33      33      33
                   Serious                     481     481     481     481
                   Slight                     4006    4006    4006    4006

                                      DayOfWeek
Road_Type          Accident_Severity
Dual carriageway   Fatal                   1815
                   Serious                11746
                   Slight                 85863
One way street     Fatal                     95
                   Serious                 1655
                   Slight                 11809
Roundabout         Fatal                    142
                   Serious                 3665
                   Slight                 40185
Single carriageway Fatal                   6527
                   Serious                70059
                   Slight                415557
Slip road          Fatal                     49
                   Serious                  611
                   Slight                  6381
unaccounted        Fatal                     33
                   Serious                  481
                   Slight                  4006

<h1> Insight 8: The area with most accident is Urban Areas</h1>

In [28]:
urban_rural = accident['Urban_or_Rural_Area'].value_counts()
urban_rural

Urban_or_Rural_Area
Urban          421678
Rural          238990
Unallocated        11
Name: count, dtype: int64

<h1> Insight 9: The district wiht most Accident is in Birmingham</h1>

In [54]:
district_areas = accident['District Area'].value_counts().sort_values(ascending=False)
district_areas

District Area
Birmingham            13491
Leeds                  8898
Manchester             6720
Bradford               6212
Sheffield              5710
                      ...
Berwick-upon-Tweed      153
Teesdale                142
Shetland Islands        133
Orkney Islands          117
Clackmannanshire         91
Name: count, Length: 422, dtype: int64

<h1> Insight 10: Daylight has the most conditions when it comes to accident</h1>

In [30]:
condition_counts = accident['Light_Conditions'].value_counts()
condition_counts

Light_Conditions
Daylight                       484880
Darkness - lights lit          129335
Darkness - no lighting          37437
Darkness - lighting unknown      6484
Darkness - lights unlit          2543
Name: count, dtype: int64

<h1> Insight 11: The number of vehicles in urban or rural areas has high impacts to the occurrence of accidents.</h1>

In [31]:
f_stats, p_value = f_oneway(accident[accident['Urban_or_Rural_Area'] == 'Urban'] ['Number_of_Vehicles'],
                            accident[accident['Urban_or_Rural_Area'] == 'Rural'] ['Number_of_Vehicles'])
print(p_value)

9.09607802972544e-198

<h1> Insight 12: The road surface conditions affects on how many vehicles are invovled in a accident</h1>

In [32]:
f_stats, p_value = f_oneway(accident[accident['Road_Surface_Conditions'] == 'Dry'] ['Number_of_Vehicles'],
                            accident[accident['Road_Surface_Conditions'] == 'Wet or damp'] ['Number_of_Vehicles'],
                            accident[accident['Road_Surface_Conditions'] == 'Snow'] ['Number_of_Vehicles'])
print(p_value)

1.2783031353966655e-30

<h1> Insight 13: The condition of the surface influences the number of casualties in an accident.</h1>

In [33]:
f_stats, p_value = f_oneway(accident[accident['Road_Surface_Conditions'] == 'Dry'] ['Number_of_Casualties'],
                            accident[accident['Road_Surface_Conditions'] == 'Wet or damp'] ['Number_of_Casualties'],
                            accident[accident['Road_Surface_Conditions'] == 'Snow'] ['Number_of_Casualties'])
print(p_value)

3.1520213411478814e-246

<h1> Insight 14: Bolsover has the highest rate of accidents among the listed areas.</h1>

In [60]:
accident.groupby('District Area')['Number_of_Vehicles'].mean().sort_values(ascending=False)

District Area
Bolsover            2.040501
Runnymede           2.038076
St. Albans          2.032631
Dartford            2.031195
South Bucks         2.022239
                      ...
Aberdeenshire       1.553368
Clackmannshire      1.487500
Western Isles       1.455056
Orkney Islands      1.393162
Shetland Islands    1.353383
Name: Number_of_Vehicles, Length: 422, dtype: float64

<h1> Insight 15: Alongside it, Blaeu Gwent also has the highest rate of casualties, with a mean of 1.693694</h1>

In [47]:
accident.groupby('District Area')['Number_of_Casualties'].mean().sort_values(ascending=False)

District Area
Blaeu Gwent               1.693694
West Somerset             1.613990
Derwentside               1.606186
Chester-le-Street         1.603306
Durham                    1.580431
                            ...
Kensington and Chelsea    1.136120
Westminster               1.134069
Camden                    1.132783
Islington                 1.126082
City of London            1.126044
Name: Number_of_Casualties, Length: 422, dtype: float64

<h1> Insight 16:Accidents occur most frequently during fog or mist, and these conditions also result in the highest number of casualties, with a mean of 1.452948 per accident.</h1>

In [48]:
accident.groupby('Weather_Conditions')['Number_of_Casualties'].mean().sort_values(ascending=False)

Weather_Conditions
Fog or mist                       1.452948
Snowing + high winds              1.418079
Raining + high winds              1.416641
Raining no high winds             1.408214
Fine + high winds                 1.386018
Other                             1.354869
Fine no high winds                1.350480
Snowing no high winds             1.341776
unaccounted weather conditions    1.233720
Name: Number_of_Casualties, dtype: float64

<h1> Insight 17: The highest number of casualties occurs when the road surface is flooded to a depth of over 3 cm.</h1>

In [52]:
road = accident.groupby('Road_Surface_Conditions')['Number_of_Casualties'].mean().sort_values(ascending=False)
np.round(road, 1)

Road_Surface_Conditions
Flood over 3cm. deep          1.5
Wet or damp                   1.4
Snow                          1.4
Frost or ice                  1.3
Dry                           1.3
unknown surface conditions    1.2
Name: Number_of_Casualties, dtype: float64

<h1> Insight 18: The analysis shows that accidents involving frost or ice with a fatal severity result in the highest average number of casualties, with a mean of 2.316062 per accident</h1>

In [51]:
road = accident.groupby(['Road_Surface_Conditions', 'Accident_Severity'])['Number_of_Casualties'].mean().sort_values(ascending=False)
road

Road_Surface_Conditions     Accident_Severity
Frost or ice                Fatal                2.316062
Flood over 3cm. deep        Fatal                2.260870
Wet or damp                 Fatal                2.038168
Snow                        Fatal                2.028571
Dry                         Fatal                1.826365
Flood over 3cm. deep        Serious              1.723684
Snow                        Serious              1.587611
Wet or damp                 Serious              1.569308
Frost or ice                Serious              1.562033
Flood over 3cm. deep        Slight               1.433492
Dry                         Serious              1.423278
Wet or damp                 Slight               1.377335
Snow                        Slight               1.330813
Dry                         Slight               1.312909
Frost or ice                Slight               1.311148
unknown surface conditions  Serious              1.300000
                            Slight               1.207951
                            Fatal                1.000000
Name: Number_of_Casualties, dtype: float64

<h1> Insight 19:The analysis shows that accidents on dual carriageways in rural areas with flood over 3cm deep result in the highest average number of casualties, with a mean of 1.604255 per accident.</h1>

In [49]:
road = accident.groupby(['Road_Surface_Conditions', 'Road_Type', 'Urban_or_Rural_Area'])['Number_of_Casualties'].mean().sort_values(ascending=False)
road

Road_Surface_Conditions     Road_Type         Urban_or_Rural_Area
Flood over 3cm. deep        Dual carriageway  Rural                  1.604255
unknown surface conditions  Slip road         Rural                  1.600000
Snow                        unaccounted       Urban                  1.571429
Wet or damp                 Dual carriageway  Rural                  1.567012
Dry                         Dual carriageway  Rural                  1.563955
                                                                       ...
Flood over 3cm. deep        Dual carriageway  Unallocated            1.000000
                            unaccounted       Urban                  1.000000
unknown surface conditions  Slip road         Urban                  1.000000
                            unaccounted       Rural                  1.000000
                                              Urban                  1.000000
Name: Number_of_Casualties, Length: 75, dtype: float64

<h1> Insight 20:The analysis shows that accidents on dual carriageways in rural areas with flood over 3cm deep during darkness with unlit lights result in the highest average number of casualties, with a mean of 6.000000 per accident.</h1>

In [57]:
road = accident.groupby(['Road_Surface_Conditions', 'Road_Type', 'Urban_or_Rural_Area', 'Light_Conditions'])['Number_of_Casualties'].mean().sort_values(ascending=False)
road

Road_Surface_Conditions     Road_Type         Urban_or_Rural_Area  Light_Conditions
Flood over 3cm. deep        Dual carriageway  Rural                Darkness - lights unlit        6.000000
Wet or damp                 One way street    Rural                Darkness - lights unlit        3.000000
Snow                        unaccounted       Rural                Darkness - lights lit          2.333333
Wet or damp                 Slip road         Urban                Darkness - no lighting         2.187500
Frost or ice                Dual carriageway  Urban                Darkness - lighting unknown    2.111111
                                                                                                    ...
Snow                        One way street    Urban                Darkness - lighting unknown    1.000000
                                              Rural                Darkness - lights lit          1.000000
                            Dual carriageway  Urban                Darkness - no lighting         1.000000
Frost or ice                unaccounted       Urban                Darkness - lighting unknown    1.000000
unknown surface conditions  unaccounted       Urban                Daylight                       1.000000
Name: Number_of_Casualties, Length: 291, dtype: float64